@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

header{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left : 0;
    right: 0;
    top : 0px;
    padding : 0px 20px;
    z-index : 50;
}
header .logo{
    width: 100px;
    height: 100px;
    overflow: hidden;
}

img{
    width: 100%;
    height: 100%;
}

header nav{
    display: flex;
    gap : 20px;
}

header nav a{
    text-decoration: none;
    color : #3c1312;
    text-transform: capitalize;
    padding : 10px;
    font-weight: 600;
    transition : all .2s ease-in-out;
}

header nav a:hover{
    transform: translate(-10px);
}

.book-a-table{
    background-color: #3c1312;
    color : white;
    padding : 10px 15px;
    border-radius: 10px;
}

header .menu-btn{
    display: none;
}

@media (min-width:0px) and (max-width : 767px){
    header{
        height: 100px;
    }
    header nav{
        display: none;
    }

    header .menu-btn{
        display: flex;
    }
}